body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sketch-screen {
    width: calc(min(85vw, 90vh));
    height: calc(min(85vw, 90vh));
    display: flex;
    flex-wrap: wrap;
    border: 8px solid grey;
    margin-top: 10px;
}

#menu {
    display: flex;
    gap: 12px;
    margin: 15px 0 30px 0;
}

input, button, label {
    font-size: 20px;
}

label {
    margin: 0;
    padding: 0;
}

input {
    width: 100px;
}

.square {
    box-sizing: border-box;
}